@import '~@taiga-ui/core/styles/taiga-ui-local';

.course-tile {
    border: 0.20rem solid #000000;
    overflow: hidden;
    cursor: default;
    @media screen and (min-width: 1200px) {
        flex-basis: calc(30% - 4.5rem);
    }
    @media screen and (max-width: 1200px) {
        flex-basis: calc(50% - 4.5rem);
    }
    @media screen and (max-width: 650px){
        flex-basis: 100%
    }
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    @media screen and (min-width: 1500px) {
        max-width: 65%;
    }
    @media screen and (min-width: 750px) and (max-width: 1200px) {
        max-width: 85%;
    }
    position: relative;
}

.flex-space{
    flex-grow: 3;
    width: 95%;
}

.course-background {
    width: calc(100% + 4.5rem);
    height: calc(3 * var(--tui-padding-l));
    margin-top: calc(-1 * var(--tui-padding-l));
    margin-left: calc(-1 * var(--tui-padding-l));
    @include tui-space(bottom, 3);
    //justify-content: flex-start;
}

.practice {
    background-color:  rgba(112, 182, 246, 0.24);
}

.assessment {
    background-color: #e38163;
}

.challenge {
    background-color: rgba(74, 201, 155, 0.24);
}

.leaderboard{
    background-color:  #d8ddf2;
}

.tokens{
    background-color:  #d7d7d7;
}
