<section class="tui-container tui-container_fullwidth">
    <h1
        [class.tui-skeleton]="!course"
        class="tui-text_h3 tui-space_top-10 tui-space_bottom-2"
    >
        {{ course?.name }}
    </h1>

    <!--    TODO: Make this message customizable in the backend       -->

    <h2
        [class.tui-skeleton]="!course"
        class="tui_text_h4"
    >Welcome to COSC 111 with Professor John Johnson. I hope you enjoy my course.
    </h2>

    <div class="tui-container">
        <div class="tui-row tui-space_top-10">
            <tui-island class="tui-island_hoverable tui-space_right-10 course-tile" size="m"
                        (click)="onPracticeClick()">
                <div class="course-background" ></div>
                <h3 class="tui-island__title">Practice</h3>
                <p class="tui-island__paragraph">Go here for practice</p>
            </tui-island>

            <tui-island class="tui-island_hoverable tui-space_right-10 course-tile" size="m">
                <div class="course-background" ></div>
                <h3 class="tui-island__title">Assignments and Exams</h3>
                <p class="tui-island__paragraph">Go here for assignments</p>
            </tui-island>

            <tui-island class="tui-island_hoverable tui-space_right-10 course-tile" size="m">
                <div class="course-background" ></div>
                <h3 class="tui-island__title">Challenges</h3>
                <p class="tui-island__paragraph">Go here for challenges</p>
            </tui-island>
        </div>

        <div class="tui-row tui-space_top-10">
            <tui-island class="tui-island_hoverable tui-space_right-10 course-tile" size="m">
                <div class="course-background" ></div>
                <h3 class="tui-island__title">Leaderboard
                    and Statistics</h3>
                <p class="tui-island__paragraph">Go here for leaderboard and statistics</p>
            </tui-island>

            <tui-island class="tui-island_hoverable tui-space_right-8 course-tile" size="m">
                <div class="course-background" ></div>
                <h3 class="tui-island__title">Tokens</h3>
                <p class="tui-island__paragraph">Go here for tokens</p>
            </tui-island>
        </div>

    </div>
</section>
<ng-template #more>
    <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>
