@import '~@taiga-ui/core/styles/taiga-ui-local';

.course-tile {
    border: 0.25rem solid #000000;
    overflow: hidden;
    cursor: default;
    flex-basis: calc(33% - 4.5rem);
    margin: 1rem;
    // Fix this so that the items display properly
    display: flex;
    flex-direction: column;
}

// specify container width based on screen size
// one flexbox
// flex basis to set size not width
// quick links outside flexbox
// padding

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.flex-space{
    flex-grow: 3;
}

.course-background {
    width: calc(100% + 4.5rem);
    height: calc(3 * var(--tui-padding-l));
    margin-top: calc(-1 * var(--tui-padding-l));
    margin-left: calc(-1 * var(--tui-padding-l));
    @include tui-space(bottom, 3);
    justify-content: flex-start;
}

.course-view-button{
    justify-content: flex-start;
    align-self: flex-end;
}

.practice {
    background-color:  rgba(112, 182, 246, 0.24);
}

.assessment {
    background-color: #e38163;
}

.challenge {
    background-color: rgba(74, 201, 155, 0.24);
}

.leaderboard{
    background-color:  #d8ddf2;
}

.tokens{
    background-color:  #d7d7d7;
}
