<section class="tui-container tui-container_fullwidth">
    <h1
        [class.tui-skeleton]="!course"
        class="tui-text_h3 tui-space_top-2 tui-space_bottom-2"
    >
        {{ course?.name }}
    </h1>

    <h2
        [class.tui-skeleton]="!course"
        class="tui_text_h4"
    >Welcome to COSC 111 with Professor John Johnson. I hope you enjoy my course.
    </h2>

    <div class="flex-container">
        <tui-island class="tui-island_hoverable course-tile" size="m">
            <div class="course-background practice"></div>
            <h3 class="tui-island__title">Practice</h3>
            <p class="tui-island__paragraph">Go here to complete practice questions and view goals.</p>
            <div class="flex-space">
            <div class="course-view-button">
                <a
                    appearance="primary"
                    [routerLink]="['practice']"
                    class="tui-form__button tui-space_top-1 tui-space_left-0"
                    size="m"
                    tuiButton
                >
                    View
                </a>
            </div>
            </div>
        </tui-island>

        <tui-island class="tui-island_hoverable course-tile" size="m">
            <div class="course-background assessment"></div>
            <h3 class="tui-island__title">Assignments and Exams</h3>
            <p class="tui-island__paragraph">Go here for assignments</p>
            <div class="flex-space">
            <div class="course-view-button">
                <a
                    appearance="primary"
                    class="tui-form__button"
                    size="m"
                    tuiButton
                >
                    View
                </a>
            </div>
            </div>
        </tui-island>

        <tui-island class="tui-island_hoverable course-tile" size="m">
            <div class="course-background challenge"></div>
            <h3 class="tui-island__title">Challenges</h3>
            <p class="tui-island__paragraph">Go here for challenges</p>
            <div class="flex-space">
                <div class="course-view-button">
                    <a
                        appearance="primary"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>

        <tui-island class="tui-island_hoverable course-tile" size="m">
            <div class="course-background leaderboard"></div>
            <h3 class="tui-island__title">Leaderboard
                and Statistics</h3>
            <p class="tui-island__paragraph">Go here for leaderboard and statistics</p>
            <div class="flex-space">
                <div class="course-view-button">
                    <a
                        appearance="primary"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>

        <tui-island class="tui-island_hoverable course-tile" size="m">
            <div class="course-background tokens"></div>
            <h3 class="tui-island__title">Tokens</h3>
            <p class="tui-island__paragraph">Go here for tokens</p>
            <div class="flex-space">
                <div class="course-view-button">
                    <a
                        appearance="primary"
                        class="tui-form__button"
                        size="m"
                        tuiButton
                    >
                        View
                    </a>
                </div>
            </div>
        </tui-island>
    </div>

</section>
<ng-template #more>
    <tui-svg src="tuiIconMoreHorLarge"></tui-svg>
</ng-template>
