<div class="flowchart-instructions tui-space_bottom-4">
    <button
        *ngIf="!topLevel"
        (click)="reset()"
        [class.tui-skeleton]="flowchartComponent.children.length === 0"
        [disabled]="!parentNode"
        appearance="primary"
        aria-label="Back"
        class="tui-space_right-4"
        icon="tuiIconArrowLeft"
        size="s"
        tuiButton
    >
        Back
    </button>
    <ng-container *ngIf="parentNode else topLevel">
        <div>
            <h2
                [class.tui-skeleton]="flowchartComponent.children.length === 0"
                class="tui-text_h5"
            >
                Categories - Subcategories in {{parentNodeName}}
            </h2>
            <p class="tui-island__paragraph tui-text_body-xl">
                Choose a subcategory to start practicing
            </p>
        </div>
    </ng-container>
    <ng-template #topLevel>
        <div>
            <h2
                [class.tui-skeleton]="flowchartComponent.children.length === 0"
                class="tui-text_h5"
            >
                Categories
            </h2>
            <p class="tui-island__paragraph tui-text_body-xl" >Choose a category to practice in.</p>
        </div>
    </ng-template>
</div>
<div #flowchartComponent [class.tui-skeleton]="flowchartComponent.children.length === 0" id="paper"></div>
