<div class="practice w-full">
    <app-sidebar position="left" sidebarId="practiceSidebar" spacing="between" size = "m">
        <div class="practice-sidebar_content tui-space_top-6">
            <div
                class="tui-space_bottom-2"
            >
                <a
                    [routerLink]="['../../concept-map']"
                    class="tui-space_vertical-0 w-full"
                    icon="tuiIconArrowLeft"
                    size="s"
                    tuiButton
                >
                    Back to Concept Map

                </a>
            </div>
            
            <div
                class="tui-space_bottom-2 tui-col_xs-12 tui-col_md-12 tui-col_lg-12"
            >
                <a
                    [routerLink]="['../../../']"
                    class="tui-space_vertical-0 w-full"
                    icon="tuiIconArrowLeft"
                    size="s"
                    tuiButton
                >
                    Back to Goals
                </a>
            </div>


            <br>

            <ng-template #categoryDropdown>
                <tui-data-list role="menu">
                    <tui-opt-group
                        *ngFor="let parentCategory of nestedCategories"
                        [label]="parentCategory.category.name"
                    >
                        <a
                            #rla="routerLinkActive"
                            [attr.aria-checked]="rla.isActive"
                            [routerLink]="['../', parentCategory.category.pk]"
                            role="menuitemradio"
                            routerLinkActive
                            tuiOption
                        >
                            All&nbsp;{{parentCategory.category.name}}
                            <tui-svg *ngIf="rla.isActive" src="tuiIconCheckLarge"></tui-svg>
                        </a>
                        <a
                            #rla="routerLinkActive"
                            *ngFor="let childrenCategory of parentCategory.children"
                            [attr.aria-checked]="rla.isActive"
                            [routerLink]="['../', childrenCategory.category.pk]"
                            role="menuitemradio"
                            routerLinkActive
                            tuiOption
                        >
                            {{childrenCategory.category.full_name}}
                            <tui-svg *ngIf="rla.isActive" src="tuiIconCheckLarge"></tui-svg>
                        </a>
                    </tui-opt-group>
                </tui-data-list>
            </ng-template>
            <br>
            <br>
            <div>
                <div class="tui-container tui-container_adaptive tui-container_example">
                    <div class="tui-row tui-row_adaptive">
                        <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1">
                            <div class="dummy">
                                <p
                                    [class.tui-skeleton]="!category || !userStats"
                                    [class.tui-skeleton_text]="!category || !userStats"
                                    class="tui-space_bottom-0"
                                >
                                    Difficulty:
                                </p>

                            </div>
                        </div>

                        <div class="tui-col_xs-2 tui-col_md-2 tui-col_lg-2 tui-space_right-8">
                            <div class="dummy">
                                <tui-select
                                    (ngModelChange)="updateQuestions($event, include_solved)"
                                    [class.tui-skeleton]="!difficulties || !category"
                                    [ngModel]="difficulty"
                                    [tuiTextfieldCleaner]="true"
                                    [valueContent]="difficulties ? (difficulties | stringifyTuiDataList: 0: 1) : ''"
                                    tuiTextfieldSize="m"
                                >

                                    <tui-data-list *tuiDataList>
                                        <button *ngFor="let diff of difficulties" [value]="diff[0]" tuiOption>
                                            {{ diff[1] }}
                                        </button>
                                    </tui-data-list>
                                </tui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tui-container tui-container_adaptive tui-container_example">
                <div class="tui-row tui-row_adaptive">
                    <div class="tui-col_xs-2 tui-col_md-2 tui-col_lg-2">
                        <div class="dummy">
                            <p class=tui-space_top-6>Include Solved Questions:</p>
                        </div>
                    </div>
                    <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1">
                        <div class="dummy">
                            <tui-checkbox-labeled
                                (ngModelChange)="updateQuestions(difficulty, $event)"
                                [class.tui-skeleton]="!difficulties || !category"
                                [ngModel]="include_solved"
                                class="tui-space_top-10"
                                size="l"
                                ngDefaultControl
                            >
                            </tui-checkbox-labeled>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                <p class=tui-space_horizontal-10>Browse this category:</p>
                <div class="tui-container tui-container_adaptive tui-container_example">
                    <div class="tui-row tui-row_adaptive">
                        <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1">
                            <div class="dummy">
                                <a
                                    class="tui-space_vertical-0 tui-space_horizontal-0"
                                    (click)="nextQuestion()"
                                    [class.tui-skeleton]="!category || !uqjs"
                                    icon="tuiIconArrowLeft"
                                    size="xl"
                                    tuiButton
                                >

                                </a>

                            </div>
                        </div>

                        <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1">
                            <div class="dummy">
                                <a
                                    class="tui-space_vertical-0 tui-space_horizontal-10"
                                    (click)="nextQuestion()"
                                    [class.tui-skeleton]="!category || !uqjs"
                                    icon="tuiIconArrowRight"
                                    size="xl"
                                    tuiButton
                                >

                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>

            <div class="practice-sidebar_buttons tui-space_vertical-6">
                <button
                    (click)="openReportQuestion()"
                    [class.tui-skeleton]="!category || !uqjs"
                    icon="tuiIconAttention"
                    size="s"
                    tuiButton
                >
                    Report a Problem
                </button>
            </div>
        </div>
    </app-sidebar>
    <div class="practice-content">
        <app-problem-view
            *ngIf="currentQuestionId && category && uqjs else noProblems"
            [questionId]="currentQuestionId"
        ></app-problem-view>
        <ng-template #noProblems>
            <div class="tui-container tui-container_fullwidth practice-content_none">
                <tui-marker-icon
                    [class.tui-skeleton]="!category || !uqjs"
                    class="tui-space_bottom-4"
                    mode="error"
                    size="s"
                    src="tuiIconAlertCircleLarge"
                ></tui-marker-icon>
                <h1
                    [class.tui-skeleton]="!category || !uqjs"
                    class="tui-text_h6"
                >
                    There are no available practice questions for this category/difficulty.
                </h1>
            </div>
        </ng-template>
    </div>
</div>
<app-problem-report-modal [(open)]="reportQuestionModal" [questionId]="currentQuestionId"></app-problem-report-modal>
